* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}

html {
  background-color: #00ff0c;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
} 

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 400px;
  width: 400px;
  text-align: center;
  margin: 0px 20px 0px 20px;
  border: 2px solid #ec008c;
  background-color: #00ff0c;
}

.grid h1 {
  color: #00ff0c;
  margin: 15% 0px 0px 0px;
}

.grid h2 {
  color: #00ff0c;
  font-size: 15px;
  margin: 20% 0px 20% 0px;
}

.grid h3 {
  color: #00ff0c;
  font-size: 10px;
  margin: 0px 0px 40% 0px;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  font-size: 10px;
}

.buttons {
  margin: 20px 0px;
  width: 200px;
  border: 2px solid #ec008c;
  padding: 5px 0px;
  background-color: #00ff0c;
  color: #ec008c;
  padding: 10px 0px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #ec008c;
  color: #00ff0c;
}

.para {
  width: 200px;
  border: 2px solid #ec008c;
  padding: 10px 20px;
  background-color: #00ff0c;
}

.controls{
  margin: 20px 20px 0px 0px;
}

.info {
  width: 200px;
  border: 2px solid #ec008c;
  text-align: center;
  color: #ec008c;
  background-color: #00ff0c;
}

#intructions {
  font-size: 10px;
  text-align: center;
  color: #ec008c;
}

#score-full {
  padding: 5px 0px 0px 0px;
}

#lives-full {
  padding: 0px 0px 5px 0px;
}

.grid div.player {
  background-image: url('../assets/player.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.grid div.playerBeam {
  background-image: url('../assets/player-beam.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom center;
}

.grid div.alien {
  background-image: url('../assets/alien.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.grid div.alienBeam {
  background-image: url('../assets/alien-beam.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  position: relative;
}

.grid .alien.alienBeam::before {
  content: '';
  background-image: url('../assets/alien.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 0%;
}

.grid div.shake {
  animation: shake 0.5s 2;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

#lives-full.shake {
  animation: shake 0.5s 2;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}